/.project
/bin
/arm-non-eabi
/include
/lib
/lib64
/libexec
/share
/util/cross/*.gz
/util/cross/binutils
/util/cross/gcc
/util/cross/gdb
/util/cross/build-binutils
/util/cross/build-gcc
/util/cross/build-gdb
*.o
*.so
/util/qemu-build/src
/util/qemu-build/build
